*{
    font-family: arial;
   
}
header{
    background-image: url(../images/header.png);
    height: 720px;
    color: white;
}

.logo{
    margin-top: 76px;
}

.right-content{
    height: 417px;
    margin-top: 109px;
}

a:hover{
    color: purple !important;
}
    
.slogan{
    line-height: 1.2;
    height: 350px;
    font-size: 44px;
    font-weight: bold;
}

.sign-up{
    width: 160px;
    color:#545871;
    padding: 5px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 24px;
    margin-top: 40px;
}

.sign-up:hover{
    cursor: pointer;
    color: purple;
}

.pets-name{
    display: inline-block;
    padding: 40px 0px 0px 10px;
}

.small-img{
    font-size: 16px;
    color: white;
    position: relative;
}

.small-pet-name{
    position: absolute;
    bottom:12%;
    left:12%;
    
    
}
.main-text{
    
    color:#545871;
}

.main-text>h2{
    font-weight: bold;
    padding-bottom: 10px;
}

.main-text>h2+p{
   font-size: 20px;
}

.main-text>h2+p+button{
    color:white;
   font-size: 20px;
    background-color: #545871;
     margin-bottom: 40px;
    border: 1px solid #545871;
    
}
.bg-pink{
    background-color:#F7ECEB;
}

.bg-image{
    height: 694px;
    background-image: url(../images/bg.png);    
}

.bg-purple{
    background-color: #545871;
    
}

.pets-data{
    background-color: white;
}

.bg-purple h2{
    color: white;
}

div-border{
    border: 1px solid red;
}